@{
    Layout = "";
}
@using SmartStore.Web.Framework;

<div class="media">
	<img class="media-object img-fluid pr-2" src="@Url.Content("~/Plugins/SmartStore.PayMark/Content/branding.png")" alt="PayMark" />
	<div class="media-body">
		@T("Plugins.Payments.PayMarkStandard.Fields.RedirectionTip")
	</div>
</div>
